<article role="article" class="lead">
  <p><strong class="Leela_font">MÁQUINA</strong> DE ESTADO!</p>
  <p> Em engenharia de software e eletrônica digital, um diagrama de transição de estados é uma representação do estado ou situação em que um objeto pode se encontrar no decorrer da execução de processos de um sistema. Com isso, o objeto pode passar de um estado inicial para um estado final através de uma transição.</p>
<article>
