<article role="article" class="lead">
  <p><strong class="Leela_font">BEM</strong> VINDO!</p>
  <p> Na engenharia de Software, a Linguagem de Modelagem Unificada (UML) possuí uma grande importancia para o desenvolvimento do software. Pelo diagrama ser representado através de símbolos, e compreendido visualmente, os deficientes visuais possuem dificuldade para a elaboração e compreensão dos diagramas.</p>
  <p> Percebendo que os métodos habituais de modelagem são quase ínvios para estudantes cegos, a pesquisa tem como foco a criação de uma plataforma web responsiva de elaboração e gerenciamento dos diagramas UML, até então, somente aplicada aos diagramas de Casos de Uso e Transição de Estado. </p>
<article>
